/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body {
    margin: 0;
}

body,
button,
input,
select,
textarea {
    font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}

p {
    margin-bottom: 1.5em;
}

figure {
    margin: 0;

}