/* Colophon section */
.colophon {
    padding: 2em;
    background: hsl(0, 0%, 10%);
    color: white;
    text-align: center;
}

.colophon a {
    color: white;
}

.colophon a:hover,
.colophon a:focus {
    border-bottom: 1px solid white;
}
