/*--------------------------------------------------------------
Use flex to create a three-bucket layout
--------------------------------------------------------------*/

@media screen and (min-width: 700px) {
    @supports (display: flex) {

        .buckets ul {
            display: flex;
            justify-content: space-around;
        }

        .buckets li {
            width: 31%;
        }

    }
}